<div class="modal-heading">
  <h2 mat-dialog-title >ADD CATEGORY
    <button class="modal-close" mat-dialog-close mat-button><i class="material-icons">close</i></button>
  </h2>
</div>


<mat-dialog-content class="mat-typography">
  <div class="modal-content ">
    <form name="form" (ngSubmit)="d.form.valid && subsavecat()" #d="ngForm" novalidate>
    <div class="form-field">
      <div class="row">
        <div class="col-12">
          <div class="control-field col-12">
            <mat-form-field class="cs-multi-select">
              <mat-select placeholder="Select Category" name="category" [(ngModel)]="form.category_id" #category="ngModel" required>
                <!--<mat-option value="" disabled>Select Category</mat-option>-->
                <mat-option value="{{subcat.id}}" *ngFor="let subcat of category_select;">{{subcat.category_name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="control-field col-12 pr70 edit-input">
            <mat-form-field class="example-full-width cs-input">
              <input matInput placeholder="Enter Category Name" name="sub_category_name" [(ngModel)]="form.sub_category_name" #sub_category_name="ngModel" required>
            </mat-form-field>
            
            <div class="plus-btn">
              <button mat-raised-button color="warn">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
    
    <div class="cs-heading mt30">
      <h2 class="underline">All Category</h2>
    </div>
    
    <div class="cs-table" style="margin: 0px -23px;">
      <div class="header sticky-header top0">
        <table class="sno-border">
          <tr>
            <th class="w30">&nbsp;</th>
            <th class="w120">Category Name</th>
            <th>Sub Category</th>
          </tr>
        </table>
        <span class="counter">{{sub_category?.length}}</span>
      </div>
      <div class="table-container">
        <div class="table-body">
          <table class="sno-border">
            <tr *ngFor="let sublist of sub_category;let i = index;">
              <td class="w30">{{i+1}}</td>
              <td class="w120">{{sublist.category_name}}</td>
              <td >
                <div class="tags">
                  <span>{{sublist.sub_category_name}},</span>
                </div>
      
                <div class="action-btns">
                  <div class="outer">
                    <div class="innear">
                      <a mat-button class="delete" (click)="delete_user(i,sublist.subCategoryId)"><i class="material-icons">delete_sweep</i> Delete</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
