<div class="main-container">
  <div class="master-heading bcspace">
      <div class="back-btn">
          <a mat-button routerLink="/knowledge-list" routerLinkActive="active"><i class="material-icons">arrow_right_alt</i></a>
      </div>
      <div class="vl-info pl0">
          <ul>
              <li><p class="af-none">{{formm.date_created |  date:'dd-MMM-y'}}</li>
              </ul>
          </div>
      </div>
      <div class="cs-container ">
          <div class="cs-row" >
              <div class="right-data pr20">
                  <div class="row">
                    <div class="col-12">
                      <div class="contst">
                        <div class="row">
                          <div class="col-7">
                            <div class="detail">
                              <h3>The 2019 line-up of iPhones is expected to come with a changed antenna structure, according to famed Apple analyst Ming-Chi Kuo.</h3>
                              <p><strong>Description :</strong>  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>

                            <div class="image-listing">
                              <!-- <ul>
                                <li><img src="../assets/img/1.jpg"></li>
                                <li><img src="../assets/img/2.jpg"></li>
                                <li><img src="../assets/img/3.jpg"></li>
                                <li><img src="../assets/img/4.jpg"></li>
                              </ul> -->

                              <button mat-button (click)="openDialog()"><img src="../assets/img/1.jpg"></button>
                              <button mat-button (click)="openDialog()"><img src="../assets/img/2.jpg"></button>
                              <button mat-button (click)="openDialog()"><img src="../assets/img/3.jpg"></button>
                              <button mat-button (click)="openDialog()"><img src="../assets/img/4.jpg"></button>
                            </div>
                          </div>

                          <div class="col-5">
                            <div class="newsdata">
                              <div class="hadding">
                                <h4>Hadding</h4>
                              </div>

                              <div class="user-details">
                                <p><strong> Name:</strong> xyz</p>
                                <p><strong>Roll:</strong>  xyz</p>
                              </div>
                            </div>
                          </div>
                        </div>                            
                      </div>
                  </div>     
                  </div>
              </div>
          </div>
      </div>
      
      <div class="h100"></div>
      