<div class="modal-heading">
  <h2 mat-dialog-title >LOGIN
    <button class="modal-close" mat-dialog-close mat-button><i class="material-icons">close</i></button>
  </h2>
</div>


<mat-dialog-content class="mat-typography">
  <div class="modal-content ">
    <form  [formGroup]="loginForm" (ngSubmit)="login()">

      <div class="login">
        <div class="right" style="height: inherit;">
            <div class="form">
                <div class="control-field">
                    <label>USERNAME</label>
                    <mat-form-field>
                        <input matInput formControlName="username">
                        <i class="material-icons input-icon">person</i>
                    </mat-form-field>
                    <mat-error *ngIf="submitted && f.username.errors" >Username is required</mat-error>
                </div>
                
                <div class="control-field">
                    <label>PASSWORD </label>
                    <mat-form-field>
                        <input matInput type="password" formControlName="password"  type="password">
                        <i class="material-icons input-icon">vpn_key</i>
                        <i class="material-icons pass-show" (click)="hide = !hide">remove_red_eye</i>
                    </mat-form-field>
                    <mat-error *ngIf="submitted && f.password.errors">Password is required</mat-error>
                </div>
                <div class="ul-clear"></div>
                <div class="cs-btn full-width mt20">
                    <div class="in-btn">
                        <button mat-raised-button type="submit" color="warn" class="h50">Log in</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </form>
  
  </div>
</mat-dialog-content>
