<div class="loader" >
    <div class="outer">
        <div class="innear">
            <div class="logo-loading">
                <span class="circle-one"></span>
            </div>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="master-heading">
        
    
        <div class="main-con">
                <div class="top-tab-list">
                        <ul>
                            <li class="active"><a >All</a></li>
                            <li><a>Pending</a></li>
                            <li><a>Reject</a></li>
                            <li><a>Delete</a></li>
                            
                        </ul>
                    </div>
                    <div class="vl-info">
                        <ul>
                            <li><p class="light">Records : <span class="black-clr">{{knowcategory?.length}}</span></p></li>
                            <li class="af-none">
                                <button mat-button [matMenuTriggerFor]="menu" class="short-button">
                                    <p class="pl30"><i class="material-icons icon">swap_vert</i><span>Sort</span></p>
                                </button>
                                <mat-menu #menu="matMenu">
                                    <button mat-menu-item  (click)="search.date_filter = 'today';getallknowlist(20,0,'')" >Today</button>
                                    <button mat-menu-item  (click)="search.date_filter = 'week';getallknowlist(20,0,'')" >Last Week</button>
                                    <button mat-menu-item  (click)="search.date_filter = 'current month';getallknowlist(20,0,'')" >Current Month</button>
                                    <button mat-menu-item  (click)="search.date_filter = 'last month';getallknowlist(20,0,'')" >Last Month</button>
                                    <button mat-menu-item>Date Wise</button>
                                    <!-- <button mat-menu-item>Latest</button> -->
                                    <!-- <button mat-menu-item>Oldest</button> -->
                                    <button mat-menu-item>
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker1" [(ngModel)]="filter.user_upload_date" (dateChange)="dashboard()"  placeholder="Choose a date">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1></mat-datepicker>
                                        </mat-form-field>
                                    </button>
                                </mat-menu>
                            </li>
                        </ul>
                    </div>
                    <!-- <div class="top-search wp30 ml30">
                        <mat-form-field>
                            <input type="text" placeholder="search" name="master" [(ngModel)]="search.master" (keyup)="filter_array(search.master,all_sug,'search_keys');getallknowlist()" matInput [matAutocomplete]="auto1">
                            <mat-autocomplete #auto1="matAutocomplete" >
                                <mat-option *ngFor="let search of fltr_state" value="{{search}}">{{search}}</mat-option>
                            </mat-autocomplete>
                        </mat-form-field> 
                    </div> -->
                    
                    
                    <div class=" wp30 ml30">
                        <mat-form-field class="example-full-width wp100 th-inputs search-input basic-serach">
                            <div class="th-serach">
                                <input matInput placeholder="Search" [(ngModel)]="search.master" (input)="filter_array(search.master,all_sug,'search_keys');getallknowlist()"  (change)="filter_array(search.master,all_sug,'search_keys');getallknowlist()" matInput [matAutocomplete]="auto1">
                                <mat-autocomplete #auto1="matAutocomplete" >
                                    <mat-option *ngFor="let search of fltr_state" [value]="search">{{search}}</mat-option>
                                </mat-autocomplete>
                                <span><i class="material-icons">search</i></span>
                            </div>
                        </mat-form-field>
                    </div>
        </div>
        <!-- tabs -->
        
        
        <!-- PAGINATION START -->
        <div class="top-pagination">
            <ul>
                <li class="refresh-area">
                    <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="getallknowlist(pagelimit,start,'refresh')"  ><i class="material-icons"> refresh</i></a>
                </li>
                <!-- <li><p>Pages {{pagenumber}} Of {{total_page}}</p></li>
                    <li><button mat-button class="left-btn" (click) = "getallknowlist(pagelimit,start-pagelimit)" disabled='{{pagenumber == 1}}'><i class="material-icons">keyboard_arrow_left</i></button></li>
                    <li><input type="text" placeholder="GO TO" [(ngModel)]="pagenumber"  (keyup)="getallknowlist(pagelimit,((pagenumber*pagelimit)-pagelimit))" (keypress)="MobileNumber($event)" min="1" max="{{total_page}}"></li>
                    <li><button mat-button class="right-btn" (click)="getallknowlist(pagelimit,start+pagelimit)" disabled="{{pagenumber == total_page}}"><i class="material-icons">keyboard_arrow_right</i></button></li> -->
                </ul>
            </div>
            
            
            <!--PAGINATION END-->
            
            <!-- <div class="refresh">
                <span class="waves-effect Default"><i (click)="getallknowlist(pagelimit,start,'refresh')" class="material-icons">refresh</i></span>
            </div> -->
            
        </div>
        
        <div class="all-container">
           
            <div class="cs-row">
                <div class="right-data pl0">
                    <div class="cs-table">
                        <div class="header sticky-header">
                            <table class="sno-border">
                                <tr>
                                    <th class="w30">&nbsp;</th>
                                    <th class="w130">Date</th>
                                    <th class="w200">Upload By</th>
                                    <th class="w170">Document Name</th>
                                    <th>Category</th>
                                    <!-- <th class="w200">Sub Category</th> -->
                                    <th>Description</th>
                                    <th class="w120 text-center" *ngIf="db.datauser.access_level == '1' "> Total Downloads</th>
                                    <!-- <th class="w100">Format</th> -->
                                    <th class="w130 text-center">No. of Files</th>
                                </tr>
                            </table>
                        </div>
                        <div class="header">
                            <table class="sno-border">
                                <tr>
                                    <th class="w30">&nbsp;</th>
                                 
                                    <th class="w130">&nbsp;</th>
                                    <th class="w200 pb0">
                                        <mat-form-field class="example-full-width wp100 th-inputs  search-input search-inputs">
                                            <div class="th-serach"> 
                                                <input matInput placeholder="Search User Name" name="name"   [(ngModel)]="search.name"  (keyup)="getallknowlist()">
                                                <span><i class="material-icons">search</i></span>
                                            </div>
                                        </mat-form-field>
                                    </th>
                                    
                                    <th class="w170 pb0">
                                        <mat-form-field class="example-full-width wp100 th-inputs search-input search-inputs">
                                            <div class="th-serach">
                                                <input matInput placeholder="Search" class="" name="subject"   [(ngModel)]="search.subject"  (input)="getallknowlist()">
                                                <span><i class="material-icons">search</i></span>
                                            </div>
                                        </mat-form-field>
                                    </th>
                                    <th class="pb0">
                                        <mat-form-field class="example-full-width wp100 th-inputs search-input search-inputs">
                                            <div class="th-serach">
                                                <input matInput placeholder="Search" class="" name="category_name"   [(ngModel)]="search.category_name"  (keyup)="getallknowlist()">
                                                <span><i class="material-icons">search</i></span>
                                            </div>
                                        </mat-form-field>
                                     
                                    </th>                               
                                    
                                    <th >
                                        <mat-form-field class="example-full-width wp100 th-inputs search-input search-inputs">
                                            <div class="th-serach">
                                                <input matInput placeholder="Search" class="" name="desc"   [(ngModel)]="search.desc"  (input)="getallknowlist()">
                                                <span><i class="material-icons">search</i></span>
                                            </div>
                                        </mat-form-field>
                                    </th>
                                    <th class="w120 pb0" *ngIf="db.datauser.access_level == '1' ">&nbsp;</th>
                                    <th class="w130 pb0">&nbsp;</th>
                                </tr>
                            </table>
                        </div>
                        <div class="table-container">
                            <div class="table-body">
                                <table class="sno-border">
                                    <tr *ngFor="let know of knowcategory;let i = index;">
                                        <td class="w30">{{i+1}}</td>
                                        <td class="w130" > <ng-container *ngIf="know.date_created != '0000-00-00 00:00:00' "> {{know.date_created | date:'dd-MMM-y'}} </ng-container></td>
                                        <td class="w200">{{know.name}}</td>
                                        <td class="w170"> <a routerLink="/knowledge-detail/{{know.id}}" routerLinkActive="active">{{know.subject}}</a></td>
                                        <td>{{know.category_name }} {{know.category_name2 ? ' / ' : ''}} {{know.category_name2 }} {{know.category_name3 ? ' / ' : ''}} {{know.category_name3 }} {{ know.category_name4 ? ' / ' : '' }} {{ know.category_name4 }}</td>
                                        <td >{{know.desc}}</td>
                                        <td class="w120 text-center" *ngIf="db.datauser.access_level == '1' "><span class="color-1"> {{know.total_downloads}}</span></td>
                                        <!-- <td class="w100">{{know.files_type}}</td> -->
                                        <td class="w130 text-center"><span class="color-2">{{know.total_files}}</span>
                                            <div class="action-btns">
                                                <div class="outer">
                                                    <div class="innear">
                                                        <a mat-button class="view" routerLink="/knowledge-detail/{{know.id}}" routerLinkActive="active"><i class="material-icons">remove_red_eye</i> view</a>
                                                        <!-- <a *ngIf="show_actions.download_document == '1'"  mat-button class="view"routerLinkActive="active" (click)="deleteFunction(know.id,i)"><i class="material-icons">remove_red_eye</i> Delete</a> -->
                                                        <button *ngIf="db.datauser.access_level == '1' "  mat-button class="download" (click)="knowladge_delete(know.id)" ><i class="material-icons"  >arrow_downward</i> Delete </button>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h100"></div>
        