<div class="main-container">
    <div class="master-heading">
        <div class="vl-info">
            <ul>
                <li><p class="light">Records : <span class="black-clr">{{knowcategory?.length}}</span></p></li>
                <li class="af-none">
                    <button mat-button [matMenuTriggerFor]="menu" class="short-button">
                        <p class="pl30"><i class="material-icons icon">swap_vert</i><span>Sort</span></p>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item>Date Wise</button>
                        <button mat-menu-item>Latest</button>
                        <button mat-menu-item>Oldest</button>
                    </mat-menu>
                </li>
            </ul>
        </div>
        <!-- <div class="top-search wp30 ml30">
            <mat-form-field>
                <input type="text" placeholder="search" (keyup)="filter_array(search.master,all_sug,'search_keys');getuserknowlist()" name="master" [(ngModel)]="search.master"  matInput [matAutocomplete]="auto1">
                <mat-autocomplete #auto1="matAutocomplete" >
                    <mat-option *ngFor="let search of fltr_state" value="{{search}}">{{search}}</mat-option>
                </mat-autocomplete>
         </mat-form-field> 
        </div> -->


        <div class=" wp30 ml30">
                <mat-form-field class="example-full-width wp100 th-inputs search-input basic-serach">
                  <div class="th-serach">
                    <input matInput placeholder="Serach" (keyup)="filter_array(search.master,all_sug,'search_keys');getuserknowlist()" name="master" [(ngModel)]="search.master"  matInput [matAutocomplete]="auto1">
                    <mat-autocomplete #auto1="matAutocomplete" >
                            <mat-option *ngFor="let search of fltr_state" value="{{search}}">{{search}}</mat-option>
                        </mat-autocomplete>
                    <span><i class="material-icons">search</i></span>
                  </div>
                </mat-form-field>
              </div>
        
        <!-- PAGINATION START -->
        <div class="top-pagination">
            <ul>
                    <li class="refresh-area">
                            <a class="refresh-btn" mat-raised-button  matTooltip="Refresh" (click)="getuserknowlist(pagelimit,start,'refresh')" ><i class="material-icons"> refresh</i></a>
                        </li>
                <li><p>Pages {{pagenumber}} Of {{total_page}}</p></li>
                <li><button mat-button class="left-btn" (click) = "getuserknowlist(pagelimit,start-pagelimit)" disabled='{{pagenumber == 1}}'><i class="material-icons">keyboard_arrow_left</i></button></li>
                <li><input type="text" placeholder="GO TO" [(ngModel)]="pagenumber"  (keyup)="getuserknowlist(pagelimit,((pagenumber*pagelimit)-pagelimit))" min="1" max="{{total_page}}"></li>
                <li><button mat-button class="right-btn" (click)="getuserknowlist(pagelimit,start+pagelimit)" disabled="{{pagenumber == total_page}}"><i class="material-icons">keyboard_arrow_right</i></button></li>
            </ul>
        </div>
        <!--PAGINATION END-->
        
      

    </div>
    
    <div class="all-container">
        <div class="cs-spinner full-page" *ngIf="loader">
            <div class="outer">
                <div class="innear">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
        <div class="cs-row">
            <div class="right-data pl0">
                <div class="cs-table">
                    <div class="header sticky-header">
                        <table class="sno-border">
                            <tr>
                                <th class="w30">&nbsp;</th>
                                <th class="w130">Date</th>
                                <th>Document Name</th>
                                <th class="w250">Category</th>
                                <!-- <th class="w200">Upload By</th> -->
                                <th class="w150 text-center">Size/KB</th>
                                <th class="w150 text-center">Total Downloads</th>
                                <th class="w150 text-center">Status</th>

                            </tr>
                        </table>
                    </div>
                    <div class="header">
                        <table class="sno-border">
                            <tr>
                                <th class="w30">&nbsp;</th>
                                <th class="w130">&nbsp;</th>
                                <th class="pb0">
                                    <mat-form-field class="example-full-width wp100 th-inputs search-input">
                                        <div class="th-serach">
                                            <input matInput placeholder="search" class="" name="subject"   [(ngModel)]="search.subject"  (input)="getuserknowlist()">
                                            <span><i class="material-icons">search</i></span>
                                        </div>
                                    </mat-form-field>
                                </th>
                                <th class="w250 pb0">
                                        <mat-form-field class="example-full-width wp100 th-inputs search-input">
                                                <div class="th-serach">
                                                    <input matInput placeholder="search" class="" name="category_name"   [(ngModel)]="search.category_name"  (keyup)="getuserknowlist()">
                                                    <span><i class="material-icons">search</i></span>
                                                </div>
                                        </mat-form-field>
                                    <!-- <mat-form-field class="cs-multi-select th-inputs wp100">
                                        <mat-select placeholder="Category Name" name="Category" [(ngModel)]="form.category_id" (selectionChange)="getallsubcat()" #Category="ngModel" required>
                                            <mat-option value="{{catup.id}}" *ngFor="let catup of categoryup;">{{catup.category_name}}</mat-option>
                                        </mat-select>
                                    </mat-form-field> -->
                                </th>                               
                              <th class="w150">&nbsp;</th>
                                <th class="w150">&nbsp;</th>
                                <th class="w150">&nbsp;</th>
                            </tr>
                        </table>
                    </div>
                    <div class="table-container">
                        <div class="table-body">
                            <table class="sno-border">
                                <tr *ngFor="let know of knowcategory;let i = index;">
                                    <td class="w30">{{i+1}}</td>
                                    <td class="w130">{{know.date_created | date:'dd-MMM-y'}}</td>
                                    <td> <a routerLink="/mydocdetail/{{know.id}}" routerLinkActive="active">{{know.subject}}</a></td>
                                    <td class="w250">{{know.category_name}}</td>
                                    <!-- <td class="w200">{{know.name}}</td> -->
                                    <td class="w150 text-center">{{know.files_size}}</td>
                                    <!-- <td class="w100">{{know.files_type}}</td> -->
                                    <td class="w150 text-center">{{know.total_downloads}}
                                    <td class="w150 text-center">{{know.status}}

                                        <div class="action-btns">
                                            <div class="outer">
                                                <div class="innear">
                                                    <a mat-button class="view" routerLink="/mydocdetail/{{know.id}}" routerLinkActive="active"><i class="material-icons">remove_red_eye</i> view</a>
                                                    <a mat-button class="view"routerLinkActive="active" (click)="deleteFunction(know.id,i)"><i class="material-icons">remove_red_eye</i> Delete</a>
                                                    <button  mat-button class="download" (click)="myData(know.id)" ><i class="material-icons"  >arrow_downward</i> 
                                                        <a href="http://nextstep.net.in/nangia/{{know.files}}">Download</a>
                                                        <!-- <a href="http://crm.nangia.com/nangia_api/{{know.files}}">Download</a> -->
                                                    </button>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h100"></div>
    