<div class="main-container"  *ngFor="let formm of formm; let i=index;">
  <div class="master-heading bcspace">
      <div class="back-btn">
          <a mat-button routerLink="/knowledge-list" routerLinkActive="active"><i class="material-icons">arrow_right_alt</i></a>
      </div>
      <div class="vl-info pl0">
          <ul>
              <li><p class="af-none">{{formm.date_created |  date:'dd-MMM-y'}}</li>
              </ul>
          </div>
      </div>
      <div class="cs-container ">
          <!--  *ngFor="let formm of formm; let i=index;" -->
          <div class="cs-row" >
              <div class="right-data pr20">
                  <div class="row">
                      
                      <div class="col-6">
                          <div class="col-12">
                              <div class="contst">
                                  <div class="cs-heading">
                                      <h2>{{formm.subject}}</h2>
                                  </div>
                                  <div class="cs-divider pt10">
                                      <mat-divider></mat-divider>
                                  </div>
                                  <!-- <div class="user-deatils pt10">
                                      <div class="row">
                                          <div class="col-6 pr10">
                                              <div class="detail-thumnail right-border">
                                                  <table>
                                                      <tr>
                                                          <th class="w200">Crested By</th>
                                                          <td class="w100 text-center">:   {{formm.date_created}}</td>
                                                          <td></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Category</th>
                                                          <td class="text-center">: {{formm.category_name}}</td>
                                                          <td></td>
                                                      </tr>
                                                      <!-- <tr>
                                                          <th>Sub Category</th>
                                                          <td class="text-center">: {{formm.sub_category_name}}</td>
                                                          <td></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Total File</th>
                                                          <td class="text-center">:{{formm.total_downloads}} </td>
                                                          <td></td>
                                                      </tr>
                                                  </table>
                                              </div>
                                          </div>
                                          <div class="col-6 pl10">
                                              <div class="detail-thumnail">
                                                  <table>
                                                      <tr>
                                                          <th class="w200">Total Size</th>
                                                          <td class="w100 text-center">{{formm.file_size}}</td>
                                                          <td></td>
                                                      </tr>
                                                  </table>
                                              </div>
                                          </div>
                                      </div>
                                  </div> -->
                                  
                                  <div class="row">
                                      <div class="col-12">
                                          <div class="side-by-side mt10" style="display: inherit;">
                                              <div class="row mr0 ml0">
                                                  <div class="figure grid-three">
                                                      <p>Uploaded By</p>
                                                      <div class="cs-edit-input ">
                                                          <mat-form-field class="example-full-width">
                                                              <input matInput type="text" readonly="" value="{{formm.uploaded_by}}">
                                                          </mat-form-field>
                                                          <div class="edit-icon">
                                                              <button mat-button class="save"><i class="material-icons green-text" title="EDIT">save</i></button>
                                                              <button mat-button class="edit"><i class="material-icons blue-text" title="EDIT">create</i></button>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="figure grid-three">
                                                      <p>Category Name</p>
                                                      <div class="cs-edit-input ">
                                                          <mat-form-field class="example-full-width">
                                                              <input matInput type="text" readonly="" value="{{formm.category_name}}">
                                                          </mat-form-field>
                                                          <div class="edit-icon">
                                                              <button mat-button class="save"><i class="material-icons green-text" title="EDIT">save</i></button>
                                                              <button mat-button class="edit"><i class="material-icons blue-text" title="EDIT">create</i></button>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="figure grid-three">
                                                      <p>Total Downloads</p>
                                                      <div class="cs-edit-input ">
                                                          <mat-form-field class="example-full-width">
                                                              <input matInput type="text" readonly="" value="{{formm.total_downloads}}">
                                                          </mat-form-field>
                                                          <div class="edit-icon">
                                                              <button mat-button class="save"><i class="material-icons green-text" title="EDIT">save</i></button>
                                                              <button mat-button class="edit"><i class="material-icons blue-text" title="EDIT">create</i></button>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="figure grid-three">
                                                      <p>Total Size</p>
                                                      <div class="cs-edit-input ">
                                                          <mat-form-field class="example-full-width">
                                                              <input matInput type="text" readonly="" value="{{formm.size}}">
                                                          </mat-form-field>
                                                          <div class="edit-icon">
                                                              <button mat-button class="save"><i class="material-icons green-text" title="EDIT">save</i></button>
                                                              <button mat-button class="edit"><i class="material-icons blue-text" title="EDIT">create</i></button>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          
                          <div class="col-12">
                              <div class="contst mt20">
                                  <div class="cs-heading">
                                      <h2>Search Tags</h2>
                                  </div>
                                  
                                  <div class="form-field mb16" style="margin-top: -16px;">
                                      <div class="row">
                                          <div class="col-12">
                                              <div class="control-field col-12 pr70 edit-input">
                                                  <mat-form-field class="example-full-width cs-input">
                                                      <input matInput placeholder="Enter Category Name">
                                                  </mat-form-field>
                                                  
                                                  <div class="plus-btn">
                                                      <button mat-raised-button color="warn">
                                                          <i class="material-icons">add</i>
                                                      </button>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  
                                  
                                  <mat-chip-list *ngFor="let searchTag of searchTag;">
                                      <mat-chip>{{searchTag.search_keys}}</mat-chip>
                                  </mat-chip-list>
                                  <!-- <mat-chip-list  >
                                      <mat-chip >
                                          <mat-icon matChipRemove>cancel</mat-icon>
                                      </mat-chip>
                                  </mat-chip-list> -->
                              </div>
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="cs-table left-right-15 ml0">
                              <div class="header sticky-header">
                                  <table class="sno-border">
                                      <tr>
                                          <th class="w30">&nbsp;</th>
                                          <th class="w130">Date</th>
                                          <th>Customer Name</th>
                                          <!-- <th>File Name</th> -->
                                      </tr>
                                  </table>
                              </div>
                              <div class="table-container">
                                  <div class="table-body">
                                      <table class="sno-border">
                                          <tr *ngFor="let form of name;let i=index">
                                              <td class="w30">{{i+1}} </td>
                                              <td class="w130">{{formm.date_created |  date:'dd-MMM-y'}} </td>
                                              <td>{{form.name}} </td>
                                              <!-- <td>{{formm.uploaded_by}} </td> -->
                                          </tr>
                                      </table>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="h100"></div>
      